@if (variant() === 'manifest') {
<pre class="sys-art sys-art--manifest" aria-hidden="true">
   *          .        ,(##),
  )(     (( ))       ((,###.))
 (  )   ((   ))  *    `(##)'
 (  )    (( ))    __          *
 )  (  ~~  `' ~~ (('))  ~~~~  .
(    ) ~~~~  ~~~  `--' ~~  ~~~
(    )    .            *
 )  (        _    A    _     .
 (  )    _  | |__/^\__| |  _
 |  | __|_|_|_|_|_|_|_|_|_|_|__
</pre>
}

@if (variant() === 'flow') {
<pre class="sys-art sys-art--flow" aria-hidden="true">
        \    |    /
    -     .-----.     -
  --     ( ##### )     --
    -     `-----'     -
        /    |    \
 _,_,_,_,_,_,_,_,_,_,_,_,_
 _,_,_,_,  o  _,_,_,_,_,_,
 ,_,_,_,_ /|\_ ,_,_,_,_,_,
 _,_,_,_, / \  _,_,_,_,_,_
</pre>
}

@if (variant() === 'noeval') {
<pre class="sys-art sys-art--noeval" aria-hidden="true">
   \ | /     \ | /
  -- # --   -- # --
   / | \     / | \
      \    |    /
       \   |   /
      .---'---'-.
       \       /
        `-----'
</pre>
}

@if (variant() === 'deps') {
<pre class="sys-art sys-art--deps" aria-hidden="true">
       v    ~v~      v
   ~v~    v      ~v~     v
 \|/|\|/|\|/|\|/|\|/|\|/|\|/
 /|\|/|\|/|\|/|\|/|\|/|\|/|\
 \|/|\|/|\|/|\|/|\|/|\|/|\|/
</pre>
}
