.vr-stack {
  display: flex;
  flex-direction: column;
}

.vr-stack-gap-0 {
  gap: 0;
}

.vr-stack-gap-1 {
  gap: var(--vr-space-1);
}

.vr-stack-gap-2 {
  gap: var(--vr-space-2);
}

.vr-stack-gap-3 {
  gap: var(--vr-space-3);
}

.vr-stack-gap-4 {
  gap: var(--vr-space-4);
}

.vr-stack-gap-5 {
  gap: var(--vr-space-5);
}

.vr-stack-gap-6 {
  gap: var(--vr-space-6);
}

.vr-stack-gap-8 {
  gap: var(--vr-space-8);
}
